/* Global */
html {
    font-size: 12px;
}

@media (max-width: 460px) {
    html {
        font-size: 6px;
    }
}

* {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: Arial, Helvetica;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    display: block;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, .75);
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 18px 8px -10px rgba(0, 0, 0, .75);
    transform: scale(1.1);
}

@media (max-width: 460px) {
    .btn {
        padding: 5px 10px;
    }
}

.hide {
    display: none;
}

/* Layout */
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,
            rgb(0, 219, 190) 0%,
            rgb(49, 241, 255) 100%);
}

#title {
    margin-top: 20px;
    font-size: 3.5rem;
    color: white;
}

.main-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, .75);
    background-color: white;
}

/* Start container */
#start-container #text {
    padding: 30px;
    padding-bottom: 0px;
}

#start-container p {
    margin: 10px 0px;
}

#start-container #intro-1 {
    padding: 5px 0px;
}

#start-container #intro-2 {
    font-weight: 600;
}

#start-btn {
    float: right;
    margin: -10px 30px 30px 0px;
}

@media (max-width: 460px) {
    #start-container #text {
        padding: 15px;
        padding-bottom: 0px;
    }

    #start-container p {
        margin: 5px 0px;
    }

    #start-btn {
        margin: -5px 15px 15px 0px;
    }
}

/* Quiz container */
#quiz-container {
    padding: 30px;
}

#quiz-container #question {
    margin: 10px 0px;
}

#quiz-container #options-container {
    display: flex;
    flex-direction: column;
}

#quiz-container .option {
    min-height: 60px;
    margin-top: 5px;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
}

#progress-bar {
    height: 30px;
    width: 100%;
    margin-top: 15px;
    border-radius: 20px;
    background-color: rgb(204, 204, 204);
}

#progress-bar-full {
    height: 100%;
    width: 0%;
    border-radius: 20px;
    background: linear-gradient(to left, rgb(97, 244, 255), rgb(0, 209, 146));
    transition: 0.5s ease;
}

@media (max-width: 460px) {
    #quiz-container {
        padding: 15px;
    }

    #quiz-container .option {
        min-height: 30px;
        padding: 5px 10px;
    }

    #progress-bar {
        height: 15px;
        width: 100%;
        margin-top: 10px;
    }
}

/* Result container */
#score-container {
    padding: 150px 40px 30px;
    background-image: url("Assets/result.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#score-container #text {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, .75);
    background-color: white;
}

#score-container #text-1 {
    font-weight: 600;
}

#score-container #score {
    margin: 15px 0px;
}

#score-container #text-2 {
    font-size: 1.6rem;
}

#tips-container {
    margin: 10px 0px;
    padding: 20px 70px 70px;
}

#tips-container #text-1 {
    font-weight: 600;
}

ul {
    list-style-position: inside;
}

li {
    margin: 10px 20px;
}

#restart-btn {
    float: right;
}

#answers-container {
    margin: 20px 70px;
    padding: 20px 0px;
    border-top: 2px solid grey;
}

.answer-container {
    margin: 20px 0px;
    position: relative;
}

.answer-container .progress {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
}

.answer-container .question {
    padding-left: 70px;
    font-weight: 600;
}

.answer-container .options {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.answer-container .option {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: rgb(128, 128, 128);
}

.answer-container .answer {
    width: 72%;
    font-size: 1.8rem;
}

.answer-container .score {
    width: 23%;
    font-size: 1.8rem;
}

@media (max-width: 460px) {
    #score-container {
        padding: 75px 20px 15px;
    }

    #score-container #text {
        padding: 15px;
    }

    #score-container #score {
        margin: 7px 0px;
    }

    #tips-container {
        margin: 5px 0px;
        padding: 10px 35px 35px;
    }

    li {
        margin: 5px 10px;
    }

    #restart-btn {
        margin: 10px 0px;
    }

    #answers-container {
        margin: 10px 35px;
        padding: 10px 0px;
    }

    .answer-container {
        margin: 10 0px;
    }

    .answer-container .question {
        padding-left: 35px;
    }

    .answer-container .options {
        padding-left: 35px;
    }

    .answer-container .option {
        margin: 5px 0px;
    }
}