*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: auto;
}
#quiz-app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(155, 0, 250, 1) 100%
    );
}
#title{
    margin-top: 20px;
    color: white;
    font-size: 40px;
}
#wrapper{
    margin: 20px 20px;
    width: 80%;
    max-width: 800px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(56, 20, 90);
    background-color: white;
    font-size: 25px;
}
#start-container > img{
    width: 100%;
}
#start-container > #description{
    position: relative;
    padding: 30px;
}
#start-title{
    font-size: 35px;
    font-weight: 700;
}
#start-intro-1{
    margin: 10px 0px;
    font-size: 20px;
}
#start-intro-2{
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 550;
}
#start-btn{
    float: right;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    background-color: white;
    cursor: pointer;
}
#quiz-container{
    width: 100%;
    padding: 20px;
}
#quiz-container > #progress{
    font-size: 20px;
}
#quiz-container > #question{
    margin: 20px 0px;
    font-size: 30px;
}
#quiz-container > #answers{
    display: flex;
    flex-direction: column;
}
#quiz-container .answer{
    margin-top: 5px;
    padding: 20px;
    min-height: 60px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
}
#progress-bar{
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(204, 204, 204);
}
#progress-bar-full{
    width: 0%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 3px 3px -5px black;
    background: linear-gradient(to left, rgb(0, 4, 255), rgb(124, 88, 255));
    transition: 0.5s ease;
}
#result-container{
    width: 100%;
    background-color: white;
}
#result-container-1{
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("Assets/result.jpg");
    background-size: cover;
}
#score-container{
    position: absolute;
    bottom: 30px;
    right: 30px;
    left: 30px;
    padding: 20px 30px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(56, 20, 90);
    background-color: white;
}
#result-intro-1{
    font-weight: 700;
    font-size: 23px;
}
#score-container > #score{
    margin: 15px 0px;
    font-weight: 700;
    font-size: 26px;
}
#result-intro-2{
    font-size: 17px;
}
#result-container-2{
    position: relative;
    width: 100%;
    min-height: 400px;
    padding: 20px 60px;
}
#result-intro-3{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
}
ul{
    list-style-type: circle;
    list-style-position: inside;
}
li{
    margin: 10px 0px 10px 20px;
    font-weight: 500;
    font-size: 22px;
}
#rerun-btn{
    float: right;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    background-color: white;
    cursor: pointer;
}
#divider{
    margin: 0px 60px;
    border: 2px solid grey;
    border-radius: 1px;
    background-color: grey;
}
#result-container-3{
    width: 100%;
    padding: 20px 60px;
}
.result-panel{
    margin-bottom: 10px;
    position: relative;
}
.result-panel > .progress{
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    font-size: 23px;
}
.result-panel > .question{
    margin-bottom: 10px;
    padding-left: 70px;
    font-weight: 600;
    font-size: 23px;
}
.result-panel > .answer-panel{
    margin-bottom: 10px;
    padding-left: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: rgb(128, 128, 128);
}
.answer-panel > .answer{
    max-width: 530px;
}
.answer-panel > .score{
    min-width: 72px;
}
.hide{
    display: none;
}
#start-btn:hover{
    transform: scale(1.1);
}
#rerun-btn:hover{
    transform: scale(1.1);
}